@page
@model PRM_FlowerShop.Pages.FlowerShop.FlowerPage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>
<h1>Edit</h1>

<h4>Flower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Flower.FlowerId" />
            <div class="form-group">
                <label asp-for="Flower.FowerName" class="control-label"></label>
                <input asp-for="Flower.FowerName" class="form-control" />
                <span asp-validation-for="Flower.FowerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flower.FlowerImage" class="control-label"></label>
                @*<input asp-for="Flower.FlowerImage" class="form-control" />*@
                <div class="">
                    <img id="uploadPreview" class="img-thumbnail" style="height:200px; width:200px" src="@Model.Flower.FlowerImage" />
                    <input id="uploadImage"
                           type="file"
                           asp-for="FormFile"
                           formenctype="multipart/form-data"
                           accept="image/png, image/jpeg"
                           onchange="PreviewImage();">
                </div>
                <span asp-validation-for="Flower.FlowerImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flower.Price" class="control-label"></label>
                <input asp-for="Flower.Price" class="form-control" />
                <span asp-validation-for="Flower.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flower.Quantity" class="control-label"></label>
                <input asp-for="Flower.Quantity" class="form-control" />
                <span asp-validation-for="Flower.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flower.Description" class="control-label"></label>
                <textarea style="min-height:150px; max-height:300px" asp-for="Flower.Description" class="form-control"></textarea>
                <span asp-validation-for="Flower.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
